*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
   
}

body{
    background-color: #e6dddd;
    span{
        display: inline-block;
    }
    overflow: hidden;
    cursor: none;
   
}
canvas{
    cursor: none;
}


.text-div{
    position: absolute;
    left: 0;
    top: 0;
    cursor: none;
    h2{
        font-size: 80px;
        font-family: monospace;
        pointer-events: none;
        color: white;
        cursor: none;
    }
    p{
        position: relative;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 80px;
        color: white;
        transition: all ease .6s;
        z-index: 5;
        width: 600px;
        margin-top: 50px;
        cursor: none;
    }
}


.bed-info{
    position: absolute;
    left: 500px;
    top: 200px;
    margin-left: 50px;
    h2{
        position: relative;
        font-size: 50px;
        font-family: monospace;
        opacity: 0;
        transition: all ease .6s;
        z-index: 5;
    }


}

.bed-info-bg{
    position: absolute;
    left: 500px;
    top: 200px;
    opacity: 0;
    background-color: white;
    transition: all ease .6s;
    height: 500px;
    width: 500px;

}


.laptop-info{
    position: absolute;
    left: 200px;
    top: 200px;
    margin-left: 50px;
    h2{
        position: relative;
        font-size: 50px;
        font-family: monospace;
        opacity: 0;
        transition: all ease .6s;
        z-index: 5;
    }
    p{
        position: relative;
        font-size: 20px;
        font-family: monospace;
        opacity: 0;
        transition: all ease .6s;
        z-index: 5;
        width: 400px;
        margin-top: 50px;
    }
 
}

.laptop-info-bg{
    position: absolute;
    left: 200px;
    top: 200px;
    opacity: 0;
    background-color: cyan;
    transition: all ease .6s;
    height: 500px;
    width: 500px;

}

#cursor {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
  border:1px solid white;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
    pointer-events: none;
    cursor: none;
}

    
    
    